#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.search-section,
.add-word-section {
  margin-bottom: 2rem;
}

input[type="text"] {
  width: calc(100% - 22px);
  padding: 0.5rem;
  margin-bottom: 2rem;
  border: 2px solid blue;
  box-shadow: 0 0 10px blue; /* Glowing blue outline */
  color: white;
  font-family: "Courier New", Courier, monospace;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 2px solid blue;
  box-shadow: 0 0 10px blue; /* Glowing blue outline */
  background-color: #FDFD96;
  color: black;
  cursor: pointer;
  transition: background-color 0.5s;
  font-family: "Courier New", Courier, monospace;
}

button:hover {
  background-color: #535bf2;
}

.definition-section {
  margin-top: 1rem;
  font-family: "Courier New", Courier, monospace;
}

.definition-section p {
  font-size: 1.2rem;
}

.add-word-section input {
  margin-bottom: 0.5rem;
  font-family: "Courier New", Courier, monospace;
}

.add-word-section h2 {
  margin-bottom: 1rem;
  font-family: "Courier New", Courier, monospace;
}
